body {
  color: #aaa;
  background: #001E27;
  font-size: 10px;
  letter-spacing: 1px;
  padding: 1px;
  margin: 0px;
}

input {
    border: 1px solid #aaa;
    background: none;
    color: inherit;
}

.top-flex {
    display : flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 1px;
}

button {
    border: 0;
    background: none;
    outline: 0;
    cursor: pointer;
    color: inherit;
}

.fa-volume-up, .fa-volume-off, .fa-user-secret {
    padding-right: 3px;
}

.window-view {
    position: relative;
    padding: 5px;
    line-height: 2em;
    width: 250px;
    text-overflow: clip;
    border: 1px grey solid;
}

.window-view.active-window {
    background-color: #003f52;
}

.window-view.masked-details:hover .tab-title {
    opacity: 0.6;
}

.window-view.masked-details .tab-title {
    opacity: 0.1;
}

.window-view:hover .window-actions {
    display: block;
}

.window-title {
    height: 2em;
}

.window-actions {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 2px;
    display: none;
}


.new-tab-input {
    opacity: 0;
    width: 75%;
}

.new-tab-input:hover,
.new-tab-input:focus {
    opacity: 1;
}

.tab-view {
    height: 2em;
    overflow: hidden;
    position: relative;
}

.tab-view.active-tab {
    font-weight: bold;
}


.tab-view a {
    color: #aaa;
    text-decoration: none;
}


.tab-view:hover {
    cursor: pointer;
    background: #768800;
}

.tab-view:hover .tab-actions {
    display: block;
}

.tab-actions {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    background: inherit;
}


